/* Empty. Add your own CSS if you like */
.background {
    background: linear-gradient(#e2eec1, #c7dd85);
    background: #e2eec1; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(#e2eec1, #c7dd85); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e2eec1, #c7dd85); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e2eec1, #c7dd85); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e2eec1, #c7dd85);/* Standard syntax (must be last) */
}
.txtCenter {
    text-align: center;
}
.nextButtonPosition{
    position:  absolute;
    bottom: 5%
}
.getStartedbtn {
    border-radius: 30px;
    width: 200px;
    
}
.slider-pager .slider-pager-page {
    color: #fff;
    opacity: 0.6;
    width: 10px;
    margin: 0 5px;
    font-size: 9px;
    bottom: 45% ! important;
}
.slider {
   height: 85%;
    overflow: visible;
}
.slider-slide {
   /* position: absolute;*/
    padding-top: 50px;
    text-align: center;
    height:100%;
}
.onboardImages {
    width: 80%;
}
.box {
  margin-top:10%;
}
.slider-pager-page {
    
    fill: gray;
}
.slider-pager-page.active
{
    fill: #f90;
    color: white;
}

.tabs-striped .tabs {
    background-color: #c7dd85;
}
.tabs-striped.tabs-background-transparent .tab-item.tab-item-active, 
.tabs-striped.tabs-background-transparent .tab-item.active,
.tabs-striped.tabs-background-transparent .tab-item.activated {
    border-width: 0 !important;
    margin-top: 0;
}

